# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs/
*.user
*.suo
*.log
*.obj
*.exe
*.pdb
*.idb
*.class
*.pch
*.sdf
*.opensdf
*.tlog
*.lastbuildstate
*.vcxproj.user
ipch/
*.aps
*.ncb
*.res
*.bsc
*.ilk
*.cproj
*.vcxproj.filters
*.ipdb
*.ipch
*.iobj
*.rsp
*.tmp
*.tlog
*.vspscc
*.vssscc
_BuildLog.htm
_ReSharper.*
.vscode/
